.item {
    position: relative;
    margin-top:30px;
    padding: 20px;
    background-color: silver;
    border-radius: 1rem;
}

.icons {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
}

i {
    cursor: pointer;
}

